




<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary mt-4">Author List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Register" asp-action="AuthorCreate" class="btn btn-lg btn-primary mt-4 font-weight-bolder">Become an Author!!</a>          
        </div>
    </div>

</div>










