@model RegisterViewModel
@{
    ViewData["Title"] = "AuthorCreate";
}

<div class="container border mt-4 px-4">
    <div class="row">
        <form method="post" asp-action="AuthorCreate">
                <div class="m-2  p-2 col-2">
                    <h2 class="text-info">
                        Join In!!
                    </h2>
                </div>

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="FullName"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="FullName" class="form-control" placeholder="First and Last Name" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="LoginName"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="LoginName" class="form-control" placeholder="The name you will be refererd to on this site" />
                            <span asp-validation-for="LoginName" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Password"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Same Password as was typed above" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Email"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email Address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ConfirmEmail"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="ConfirmEmail" type="email" class="form-control" placeholder="Email Adress" />
                            <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="col-12 ">
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Bio"></label> <!--Should be bigger-->
                        </div>
                        <div class="col-10">
                            <textarea class="form-control" asp-for="Bio" rows="3" placeholder="A short summary about yourself"></textarea>
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="JobTitle"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="JobTitle" class="form-control" placeholder="ie: Software Engineer at NeuroBlog" />
                            <span asp-validation-for="JobTitle" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="DateJoined"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="DateJoined" class="form-control" placeholder="yyyy-mm-dd" />
                            <span asp-validation-for="DateJoined" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-4">
                    <div class="row align-self-center">
                        <div class="col-6">
                            <input type="submit" value="Submit" class="btn btn-lg btn-primary w-100" />
                        </div>
                        <div class="col-6">
                            <a asp-action="AuthorView" class="btn btn-lg btn-danger w-100">Go Back</a>
                        </div>
                    </div>
                </div>


            </div>




        </form>
    </div>

</div>
