@model IEnumerable<MySqlServerConnect.Models.Posts>
@{
    ViewData["Title"] = "BlogMainPage";
}



<section>
    @foreach(var P in Model) { 
    <article>
        <div class="container my-5 pr-0 shadow-lg rounded">
            <div class="row">
                <div class="col-lg-8 align-self-center">
                    <a class="nav-link text-dark" asp-route-Id="@P.PostId" asp-controller="BlogCRUD" asp-action="BlogRead">
                        <article>
                            <h1 class="text-capitalize font-weight-bold display-4">@P.Title</h1>
                            <p>@P.Summary</p>
                        </article>
                    </a>
                        <div class="col-xs-3 my-4">
                            <a class="btn btn-info btn-sm">Emotion/Feelings</a>
                    
                        </div>
                </div>
                <div class="col-lg-4 my-4 pr-0 mr-0" >
                    <a class="nav-link text-dark" asp-route-Id="@P.PostId" asp-controller="BlogCRUD" asp-action="BlogRead">
                        <img class="img-fluid" src=@Html.Raw(P.ImageURL)/>
                    </a>
                </div>
            </div>
        </div>
    </article>
    }




</section>


