@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlogAppUser> SignInManager
@inject UserManager<BlogAppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MySqlServerConnect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NeuroScienceBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="MainBlog" asp-action="BlogMainPage">Home<i class="fas fa-brain"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="MainBlog" asp-action="Search">Search<i class="fas fa-search"></i></a>
                    </li>


                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Administrative" asp-action="CreateRole">Role Creation Portal<i class="fas fa-plus-square"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="BlogCRUD" asp-action="BlogCreate">Create A New Post!! <i class="fas fa-pen-nib"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="BlogCRUD" asp-action="ViewAllPosts">Post List <i class="fas fa-list"></i></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>




    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="footer text-muted mt-0">
        <div class="container ">
            &copy; 2020 - NeuroScienceBlog - <a asp-area="" asp-controller="MainBlog" asp-action="BlogMainPage">Home</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>

        function myFunction(scrollPoint) {
            var elmnt = document.getElementById(scrollPoint);
            elmnt.scrollIntoView({ behavior: "smooth" });
        }



    </script>
    <script>
        $(document).ready(function () {
            $('#searchPosts').autocomplete({
                source: 'api/searchbarai/search'
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
